/* 
    Document   : default
    Created on : Jun 12, 2011, 10:28:25 AM
    Author     : VANGANH
    Description:
        Purpose of the stylesheet follows.
*/

.tbstyle{
    width: 100%;
}
.tbhead{
    background-color: #F0F0F0;
}
.tbhead a{
    color: #0B55C4;
}
.tbhead a:hover{
    text-decoration: none;
}